* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #E8F2F1;
    color: #344B47;
}

.navbar {
    background: #DDF4EF;
    padding: 0.8rem 1.5rem;
    border-bottom: 2px solid #BDE4DB;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #23302E;
}

.nav-link {
    text-decoration: none;
    color: #23302E;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border-radius: 4px;
}

.nav-link:hover {
    background: white;
    border: 1px solid #BDE4DB;
}

.user-badge {
    background: #C7A9E8;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.btn-login { background: #98EAC4; }
.btn-signup { background: #8DB5F3; }
.btn-logout { background: #F39696; }

.btn {
    padding: .4rem 0.7rem;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    border: none;
    font-weight: 600;
}

.main-content {
    margin-top: 3rem;
}

.card, .comment-box, .contact-box {
    background: #FFFFFF;
    border: 1.5px solid #CCE7E0;
    padding: 1.8rem;
    border-radius: 6px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 2.5rem;
}

.comment {
    background: #E7575A;
    padding: 1rem;
    color: white;
    border-radius: 6px;
    margin-bottom: 1rem;
    font-size: .95rem;
}

.comment strong {
    color: white;
}

footer {
    background: #F9F9F9;
    padding: 1rem;
    text-align: center;
}
